<div class="tt-label">USER POV</div>
<div class="tt-userpov">
  <div class="tt-pov-card">
    <div class="tt-pov-label">What they thought they were getting</div>
    <div class="tt-pov-text">{{ report.user_pov.thought_getting }}</div>
  </div>
  <div class="tt-pov-card">
    <div class="tt-pov-label">Would forgive</div>
    <div class="tt-pov-text">{{ report.user_pov.would_forgive }}</div>
  </div>
  <div class="tt-pov-card">
    <div class="tt-pov-label">Untrustworthy if</div>
    <div class="tt-pov-text">{{ report.user_pov.untrustworthy }}</div>
  </div>
  <div class="tt-pov-card">
    <div class="tt-pov-label">Predictable complaints</div>
    <div class="tt-pov-text">{{ report.user_pov.predictable_complaints }}</div>
  </div>
</div>
